body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

.nav-funilaria {
    background-color: #1a1a1a !important;
    text-transform: uppercase;
    border-bottom: 5px solid red;
    padding-left: 5em;
    padding-right: 10em;
}

.nav-titulo {
    font-size: 2em !important;
    font-weight: 750;
    /*Grossura da letra*/
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.carousel-item {
    position: relative;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85));
    z-index: 1;
}

.carousel-inner img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
}

.carousel-caption {
    position: absolute;
    z-index: 2;
    /* Força a caixa a ocupar todo o espaço do slide */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    /* Alinha no meio vertical */
    align-items: center !important;
    /* Alinha no meio horizontal */
    text-align: center !important;
}

.carousel-caption h5 {
    font-size: 3rem;
}

.carousel-caption p {
    font-size: 1.5rem;
}

.btn-navegacao {
    z-index: 3;
}

.faixa {
    width: 100%;
    height: 25px;
    background-color: red;
}

.conteudo {
    width: 65%;
    margin: 0 auto;
    padding: 0;
    margin-top: 6em;
    text-align: center;
    padding-top: 1em;
    display: flex;
    flex-wrap: nowrap;
}

.conteudo h2 {
    color: rgb(172, 2, 2);
    text-transform: uppercase;
    font-size: 2.2em;
    text-align: left;
}

.conteudo p {
    color: rgb(175, 175, 175);
    text-transform: uppercase;
    font-size: 1em;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.porqueNos {
    margin: 0;
    padding: 0;
    background-color: rgb(172, 2, 2);
    padding: 2em 10em 2em 10em;
    position: relative;
    overflow: hidden;
}

.porqueNos::before{
    content: "";
    position: absolute;
    right: 2%;
    width: 150%; 
    height: 150%;
    background-image: url("https://icons.getbootstrap.com/assets/icons/tools.svg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: 30%;
    opacity: 0.3; 
}

.porqueNos h2 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

.porqueNos .card {
    color: #000 !important;
    height: 30em;
}

.card-body p{
    font-size: 1.2em;
    text-align: justify;
}